.marquee-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    
    padding: 10px 0;
    position: relative;
  }
  
  .marquee-content {
    
    color: #947777; /* Dark Grey Text */
    font-size: 34px;
    font-weight: bold;
    animation: marquee 25s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(+100%);
    }
  }
  