/* src/components/SubscriptionPlanChart.css */
.subscription-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 800px;
    padding: 20px; /* Add any padding if needed */
  }
  
  .subscription-chart canvas {
    max-width: 100%;
    height: auto;
    
  }
  